body {
  color: #fff;
  font-family: Arial;
  background-color: #181818;
}

tt {
  align-items: center;
  direction: row;
}
h1,a {
  font-size: 20px;
}

text {
  align-items: center;
}

results {
  gap: 10px;
  direction: column;
}

result {
  direction: column;
  background-color: #333333;
}
