body {
  color: #fff;
  font-family: Arial;
  background-color: #181818;
}

title {
  align-items: center;
  direction: row;
}
h1 {
  font-size: 20px;
}

search {
  align-items: center;
  direction: row;
}
